/* hackt color scheme (contrast) */

@import url("hackt-fonts.css");

:root {
	/* fonts */
	--font-hackt-mono: "JetBrains Mono", monospace;
	--font-hackt: "Space Grotesk", sans-serif;

	--font-family-sans: var(--font-hackt);
	--font-family-mono: var(--font-hackt-mono);

	--font-size-large: 1.35rem;
	--font-size-default: 1rem;
	--font-size-medium: 0.80rem;
	--font-size-small: 0.66rem;

	/* palette */
	--deep-purple: 31 32 46;
	--neon-green: 0 255 136;
	--neon-cyan: 0 212 255;
	--neon-magenta: 255 0 170;
	--cloud: 160 160 160;
	--stone: 136 136 136;
	--ultraviolet: 168 85 247;

	/* monochrome */
	--base-bg: var(--deep-purple);
	--base-fg: 255 255 255;

	--opacity-fg: 100%; /* primary text */
	--opacity-fg-contrast-13: 100%;
	--opacity-fg-contrast-10: 99%;
	--opacity-fg-contrast-7-5: 98%;
	--opacity-fg-contrast-6: 97%;
	--opacity-fg-contrast-5: 96%;
	--opacity-fg-contrast-4-5: 95%;

	--opacity-gradient-lit: 30%;
	--opacity-gradient-mid: 20%;
	--opacity-gradient-dim: 15%;
	--opacity-gradient-shadowed: 5%;

	--opacity-shadow-80: 80%;
	--opacity-shadow-25: 70%;
	--opacity-shadow-10: 60%;
	--opacity-shadow-5: 40%;

	--opacity-deleted: 0.7;

	/* backgrounds and foregrounds */
	--color-bg-accent: rgb(255 50 50);
	--color-bg-target: rgb(80 70 20);

	--color-fg-link: rgb(var(--neon-green));
	--color-fg-link-hover: rgb(var(--ultraviolet));
	--color-fg-link-shadow: rgb(var(--ultraviolet) / var(--opacity-shadow-5));
	--color-fg-link-visited: rgb(130 160 255);
	--color-fg-accent: rgb(var(--ultraviolet));
	--color-fg-negative: rgb(255 60 60); /* red as in warning */
	--color-fg-affirmative: rgb(var(--neon-cyan)); /* ie. save/unsave */
	--color-fg-author: rgb(var(--neon-magenta));
	--color-fg-shape: rgb(120 120 120);

	/* elements */
	--color-box-bg: #111;
	--color-box-bg-shaded: #222;
	--color-box-border: #444;
	--color-box-border-focus: #999;

	--color-button-bg: #222;
	--color-button-bg-shaded: #333;

	--color-byline-fg: rgb(var(--stone));
	--color-byline-fg-hover: rgb(var(--cloud));

	--color-hint-fg: rgb(var(--stone));

	--color-table-header-bg: #333;
	--color-table-header-border: #555;
	--color-table-row-bg-even: #111;
	--color-table-row-bg-odd: #222;
	--color-table-row-border: #333;

	--color-tag-bg: rgb(var(--ultraviolet) / var(--opacity-gradient-dim));
	--color-tag-bg-hover: rgb(var(--ultraviolet) / var(--opacity-gradient-lit));
	--color-tag-bg-shadow: rgb(var(--ultraviolet) / var(--opacity-gradient-mid));
	--color-tag-border: rgb(var(--ultraviolet) / var(--opacity-gradient-mid));
	--color-tag-fg: rgb(var(--ultraviolet));
	--color-tag-media-bg: #1a3d66;
	--color-tag-media-border: #264d80;
	--color-tag-meta-bg: #333;
	--color-tag-meta-border: #555;

	--color-hat-crown-fill: #595959;
	--color-hat-crown-stroke: #333;
	--color-hat-brim-stroke: #444;

	--color-flash-bg-error: #660000;
	--color-flash-bg-success: #006600;
	--color-flash-bg-notice: #003366;

	--color-lobsters-fg-has-suggestions: #ff8080;

	--color-lobsters-tag-special-bg: #4d0000;
	--color-lobsters-tag-special-border: #800000;

	--color-lobsters-hat-sysop-crown-fill: #8a5252;
	--color-lobsters-hat-sysop-brim-stroke: #6f4444;

	/* mobile */
	--color-mobile-story-comments-bubble-fill: #333;
	--color-mobile-story-comments-bubble-fill-zero: #222;
}

/* overrides */

body, textarea, input, button {
	font-family: var(--font-family-sans);
}

header#nav a,
header#subnav a,
footer a {
	color: var(--color-fg-link);
}

a:hover,
header#nav a:hover,
header#subnav a:hover,
footer a:hover {
	color: var(--color-fg-link-hover);
	text-shadow: 0 0 8px var(--color-fg-link-shadow);
}

a.tag {
	color: var(--color-tag-fg);
}

a.tag:hover {
	background-color: var(--color-tag-bg-hover);
	box-shadow: 0 0 8px var(--color-tag-bg-shadow);
}

.upvoter:before {
	font-size: var(--font-size-large);
}

.upvoter:hover:before,
.upvoted .upvoter:before {
	color: rgb(var(--neon-magenta));
	font-size: var(--font-size-large);
	-webkit-text-stroke: 1px rgb(var(--neon-magenta));
}

.upvoter {
	font-size: var(--font-size-medium);
}

li.story,
li.story input {
	font-family: var(--font-family-mono);
}

li .domain {
	color: var(--color-fg-link);
	font-size: var(--font-size-medium);
}

li .domain:hover {
	color: var(--color-fg-link-hover);
}

li .byline {
	color: var(--color-byline-fg);
	font-size: var(--font-size-small);
}

.byline a,
.byline input[type="submit"],
.byline label {
	color: inherit;
	text-decoration: none;
}

.byline a:hover,
.byline input[type="submit"]:hover,
.byline label:hover {
	color: var(--color-byline-fg-hover);
	text-shadow: none;
}

.byline .u-author,
.byline .comments_label > a {
	color: var(--color-fg-link);
}

.byline .u-author:hover,
.byline .comments_label > a:hover {
	color: var(--color-fg-link-hover);
	text-shadow: 0 0 8px var(--color-fg-link-shadow);
}

.hint {
	color: var(--color-hint-fg);
	font-size: var(--font-size-medium);
}
